body {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
    margin-left: 30px;
    margin-right: 30px;
}
.container {
    margin-top: 25px;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}